/* variáveis de tema */
:root {
  /* vermelho da PokéAPI */
  --ion-color-primary:    #ef5350;
  --ion-color-primary-rgb: 239, 83, 80;

  /* cores claras/escuras */
  --ion-color-light-bg:   #fafafa;
  --ion-color-light-text: #000000;
}
