<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ pokemon?.name | titlecase }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ pokemon?.name | titlecase }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="pokemon">
    <ion-img [src]="pokemon.sprites.front_default"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
      <ion-card-subtitle>#{{ pokemon.id }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo:</strong> {{ pokemon.types[0].type.name | titlecase }}</p>
      <p><strong>Experiência Base:</strong> {{ pokemon.base_experience }}</p>
      <p><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</p>
      <p><strong>Altura:</strong> {{ pokemon.height / 10 }} m</p>
      <p><strong>Habilidades:</strong>
        <span *ngFor="let ab of pokemon.abilities; let last = last">
          {{ ab.ability.name | titlecase }}<span *ngIf="!last">, </span>
        </span>
      </p>
      <audio *ngIf="pokemon.cries?.latest" controls>
        <source [src]="pokemon.cries.latest" type="audio/ogg">
        Seu navegador não suporta áudio.
      </audio>
    </ion-card-content>
  </ion-card>
</ion-content>